body {
    background-color: darkslateblue
}

button {
    padding: 25px;
}

#screen {
    height: 50px;
    background: gray;
    display: flex;
    width: 90.725%;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    font-size: 32px;
}

#calculator {
    display: flex;
    flex-wrap: wrap;
    width: 275px;
}

#one,
#two,
#three,
#four,
#five,
#six,
#seven,
#eight,
#nine,
#zero,
#divide,
#multiply,
#subtract,
#add {
    display: flex;
    width: 75x;
    justify-content: center;
    align-items: center;
}

#equals {
    display: flex;
    width: 100%
}

#clear {
    display: flex;
    width: 108px;
    justify-content: center;
    align-items: center;
}