body {
    background-color: darkslateblue
}

button {
    padding: 25px;
}

#screen {
    height: 50px;
    background: gray;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    font-size: 32px;
}

#calculator {
    display: flex;
    flex-wrap: wrap;
    width: 275px;
    border: 1px solid red;
}

#one,
#two,
#three,
#four,
#five,
#six,
#seven,
#eight,
#nine,
#divide,
#multiply,
#subtract,
#add,
#decimal {
    display: flex;
    width: 68.765px;
    justify-content: center;
    align-items: center;
}

#equals {
    display: flex;
    width: 50%;
}

#clear {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

#zero {
    width: 137.515px;
}